@media(min-width:1200px) {
    .navbar .navbar-nav-order ul {
        padding-left: 10rem;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1157px;
    }
}

@media(min-width:448px)and (max-width:768px) {
    .offer_block .offer_block_cards {
        display: flex;
        flex-direction: row;
        text-align: start;
        justify-content: flex-start;
    }
}

@media(min-width:992px) {
    .offer_block .offer_block_cards {
        display: flex;
        flex-direction: row;
        text-align: start;
        justify-content: flex-start;
    }
}

/* /// food items media /// */
@media(min-width:768px) {
    .our_menu_block_food_item_block_food_item_box .food_item_box_img_box {
        padding: 40px 80px;
    }
}
