* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-body {
    font-size: 16px;
    color: #848E9F !important;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

.navbar-brand h1 {
    font-size: auto;
    font-family: Roboto Condensed, sans-serif;
    font-weight: bolder;
    color: #13C5DD;

}

.nav-link {
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    color: #1D2A4D;
    padding: 10px 0px;
    /* box-sizing: border-box;   */
    /* Reason for this comment is at the top  */
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 5px;
    background: #13C5DD;
    transform: translateX(-50%);

}

.nav-link:hover {
    color: #13C5DD;
    transition: 0.5s ease-out;
}


@media(min-width:992px) {
    .nav-item.nav-link {
        padding: 30px 0px !important;
        margin: 0px 0px 0px 30px;
    }

    .nav-link {
        padding: 30px 0px !important;
        margin: 0px 0px 0px 30px;
    }

    .nav-link.active {
        color: #13C5DD !important;
    }

    .nav-link.active::before {
        width: 100%;
        transition: width 0.5s ease;
    }

    .nav-link:hover::before {
        width: 100%;
        transition: width 0.5s ease;
    }
}

/* == HERO SECITON = */

.hero-top {
    background-image: url("../images/hero.jpg");
    background-position: right top;
    background-size: cover;

}

h5 {
    font-size: 1.25rem;
    font-family: Roboto Condensed, sans-serif;
    margin: 0px 0px 8px;
    font-weight: 700;
    color: #13C5DD;
    border-bottom: 5px solid gray !important;
}

.hero-top h1 {
    font-family: Roboto Condensed, sans-serif;
    font-weight: 700;
}

.hero-top .btn-light.rounded-pill {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: black;
    background-color: white !important;
}

.hero-top .btn-outline.rounded-pill {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;

}

.hero-top .btn-outline.rounded-pill:hover {
    color: black;
    background-color: white;
    transition: 0.5s ease;
}


/* ========= END OF HERO ======== */

/* ========= ABOUT SECTION  */

.display-4 {
    font-family: Roboto Condensed, sans-serif;
    font-weight: bolder;
    color: #1D2A4D;
}

.about p {
    color: #848E9F;
    font-size: 16px;
}

.about i {
    font-size: 40px;
    color: #13C5DD;
    padding: 18px 0px;
}

.about h6 {
    font-size: 16px;
    font-weight: bold;
    font-family: Roboto Condensed, sans-serif;
}

.about small {
    font-size: 14px;
    font-weight: bold;
    color: #13C5DD;
    /* padding-bottom: 10px !important; */
    font-family: Roboto Condensed, sans-serif;
}

.pding {
    padding-bottom: 18px !important;
}

/* ========= ABOUT SECTION END  */
/* ========== SERVICES ======= */

.service-crd {
    border-radius: 1rem;
    background-color: rgb(239, 245, 249) !important;
    position: relative;
}

.service-ico {
    background-color: #13C5DD;
    color: white;
    font-size: 2rem;
    height: 110px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-10deg);
}

.service-ico i {
    transform: rotate(10deg);
}

.service-crd p {
    color: #848E9F;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.service-crd h4 {
    font-family: Roboto Condensed, sans-serif;
    font-weight: bolder;
}


.rightarow {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #13C5DD;
    opacity: 0;
    transform: translate(0%, 110%);
    transition: 0.5s ease;
}

.service-crd:hover {
    .rightarow {
        opacity: 1;
        transform: translate(0%, 50%);
        transition: 0.5s ease;
    }
}

.rightarow:hover {
    color: black;
    box-shadow: 0 5px 4px -4px black;
}

/* ========== SERVICES END  ======= */

/* ========== Appointement  START  ======= */

.appointment {
    background-color: #13C5DD;
}

.appointment h5,
p {
    color: #EFF5F9;
}

#b1 {
    background-color: #1D2A4D;
    font-weight: 500;
}

#b2 {
    font-weight: bold;
    border-color: #1D2A4D;
    color: #1D2A4D;
}

#b2:hover {
    color: white;
    background-color: #1D2A4D;
}

.appointment-btns a:hover {
    transition: 0.4s !important;
    box-shadow: 0px 8px 8px -7px black !important;

}

/* --Form START-- */
.form {
    background-color: white;
}

.form h1 {
    font-family: Roboto condensed;
    font-weight: bold;
}

form select,
input {
    color: #848E9F !important;
    background-color: #EFF5F9 !important;
    box-shadow: none;
}

select:focus,
input:focus {
    box-shadow: 0px 0px 0px 4px rgba(19, 197, 221, 0.2) !important;
    /* x , y , blur , spread radius ( r , g, b, opacity ) */
}


.form-btn {
    font-weight: 600;
}

.form-btn:hover {
    color: black;
    box-shadow: 0px 5px 4px -4px black;
    /* box-shadow:  horizontal  vertical  blur  spread  color;
    0          5px       4px   -4px    black */
    transition: 0.4s ease-in !important;
}



.form-btn:hover {
    box-shadow: 0px px 4px black;
    transition: 0.5s ease;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* --form end-- */

/* ========== Appointement  END  ======= */

/* =============PRICES START======== */
.cards {
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}


.cards img {
    width: 100%;
    display: block;
}

.dollar {
    font-size: 22px;
}

.price h3 {
    font-size: 27px;
    font-weight: bold;
    font-family: Roboto Condensed, sans-serif;
}

.price h1 {
    font-size: 53px;
}

.year {
    font-size: 16px;
    font-weight: 100;
    align-items: baseline;
}

.card-img {
    position: relative;
}

.card-img::before {
    content: "";
    position: absolute;
    background-color: rgba(29, 42, 77, 0.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.price {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.detail {

    background-color: #EFF5F9;
}

.detail p {
    color: #848E9F;
    font-family: Roboto, sans-serif;
}

.detail button {
    background-color: #13C5DD !important;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    border: none;
}

.detail button:hover {
    color: black;
    transition: 0.5s;
    box-shadow: 0px 8px 8px -7px black !important;
}

.owl-carousel {
    padding: 0 48px 48px;
    position: relative;
}

.owl-nav {
    margin-top: 20px;
}

.owl-prev,
.owl-next {
    height: 45px;
    width: 45px;
    margin-top: 35px !important;
    color: #13C5DD !important;
    border-radius: 50% !important;
    background-color: white !important;
    position: relative;
}

.owl-cards.owl-prev:hover,
.owl-cards.owl-next:hover {
    color: black !important;
    transition: 1s;
}



.owl-carousel.owl-cards::before {
    content: "";
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #13C5DD !important;
    z-index: 0;
}

.owl-carousel::before {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.owl-carousel::before {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

/* =============PRICES END ======== */

/* =============DOCTORS START ======== */
.doctor-card {
    background-color: #EFF5F9;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.doctor-card h3 {
    font-size: 28px;
    font-weight: bold;
    color: #1D2A4D;
    font-family: Roboto condensed, sans-serif;
}

.doctor-card h6 {
    font-size: 16px;
    font-style: italic;
    color: #13C5DD;
    font-family: Roboto condensed, sans-serif;
}

.doctor-card p {
    color: #848E9F;
}

.doctor-card img {
    object-fit: cover;
}

.dr-icons {
    border-top: 1px solid #dde4ee;
}

.owl-team .owl-nav .owl-prev {
    color: white !important;
    background-color: #13C5DD !important;
    position: absolute;
    top: 30%;
    left: 7%;
    transition: 0.3s ease;
}

.owl-team .owl-nav .owl-prev:hover {
    background-color: #0b6875 !important;
    transition: 0.3s ease;
}

.owl-team .owl-nav .owl-next {
    color: white !important;
    background-color: #13C5DD !important;
    position: absolute;
    top: 30%;
    right: 7%;
    transition: 0.3s ease;
}

.owl-team .owl-nav .owl-next:hover {
    background-color: #0b6875 !important;
    transition: 0.3s ease;
}

.dr-ico {
    height: 50px;
    width: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #13C5DD;
    transition: 0.5s ease-in-out;
}

.dr-ico:hover {
    box-shadow: 0 5px 4px -4px black;
    transition: 0.5s;
}

.dr-ico i {
    color: white;
    transition: 0.5s ease-in-out;

}

.dr-ico:hover i {
    color: black;
    transition: 0.5s ease-in-out;

}

/* =============DOCTORS END ======== */



/* //// doctor search /// */
.dr-search {
    background-color: #13C5DD;
}

#keyword,
#search {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

#keyword {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

#keyword {
    background-color: #FFFFFF !important;
    margin-left: 1px;
}

#search {
    color: white;
    font-weight: 600;
    background-color: #1D2A4D;
}

#search:hover {
    transition: 0.5s;
    box-shadow: 0px 5px 8px -4px black !important;
}

/* //// search end///// */

/* =========== START TestiMonial ============ */

.owl-testimonial {
    padding-bottom: 0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    position: relative;
}

.quote {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
}

.profile-pic img {
    border-radius: 50%;
    object-fit: cover;
}

.quote i {
    font-size: 32px;
    padding: 15px;
    border-radius: 50%;
    color: #13C5DD;
    background-color: #EFF5F9;


}

.testimonial h3 {
    font-family: Roboto Condensed, sans-serif;
    color: #1D2A4D;
    font-weight: bold;
}

.testimonial h6 {
    font-family: Roboto Condensed, sans-serif;
    color: #13C5DD;
}

/* -- dots --- */
.owl-dots {
    margin-top: 15px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-testimonial .owl-dot span {
    height: 20px !important;
    width: 20px !important;
    border: 2px solid #13C5DD;
    background-color: #EFF5F9 !important;
    transition: 0.5s !important;
}

.owl-testimonial .owl-dot.active span {
    margin: auto;
    height: 40px !important;
    width: 40px !important;
    background-color: #13C5DD !important;
    transition: 0.5s !important;
}

/* =========== END TestiMonial ============ */

/* =========== START BLOG POST ============ */

.card-container a {
    text-decoration: none;
}

.card-container h3 {
    color: #1D2A4D;
    font-weight: 700;
    font-family: Roboto condensed, sans-serif;
}

.card-container p {
    color: #848E9F;
    margin: 0;
}

.pfp img {
    height: 25px;
    border-radius: 50%;
}

.card-bottom {
    color: #848E9F;
    font-family: Roboto;
    border-top: 1px solid #d4d8df;
    display: flex;
    justify-content: space-between;
}

/* =========== END BLOG POST ============ */
.footer,
.footer-pt2 {
    background-color: #1D2A4D;
    font-family: Roboto, sans-serif;
}

.footer i {
    color: #13C5DD;
    padding-right: 10px;
}

.footer a {
    display: block;
    text-decoration: none;
    color: white;
}

.footer i {
    color: white;
    margin-bottom: 8px;

}

.footer h5 {
    font-size: 24px;
    border-color: #354F8E !important;
}


.mail input {
    color: #FFFFFF;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.mail button {
    border: none;
    color: white;
    font-weight: 600;
    background-color: #13C5DD !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.footer h6 {
    font-weight: 600;
    color: #13C5DD !important;
    font-family: Roboto Condensed;
}

.div-ico {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #13C5DD;
}

.div-ico i {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.div-ico:hover i {
    color: black !important;
    transition: 0.3s ease-in-out;
}

/* ------------------ */
.footer-pt2 a {
    color: #13C5DD;
    text-decoration: none;
}

.footer-pt2 {
    border-top: 0.5px solid #0b6875;
}

.cpy {
    display: flex;
    justify-content: space-between;
}


.back-to-top {
    position: fixed;
    right: 45px;
    bottom: -25px;
    z-index: 99;

    width: 46px;
    height: 70px;
    padding: 0;

    align-items: center;
    justify-content: center;

    background-color: #13C5DD !important;
    color: white;
    border-radius: 25%;
}

.back-to-top i {
    padding: 14px;
}

.back-to-top:hover {
    background-color: #13C5DD !important;
    opacity: 0.8;
}